.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: auto;
    border: 2px solid;
    background: #ff0;
}
.btn{
    display: flex;
    justify-content: center;
}