.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: auto;
    border: 2px solid;
    background: #ff0;
    gap: 16px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 200px;
    font-size: 24px;
}